@{
    ViewBag.Title = "Edit";
}

<h2>Update Order</h2>
<form action="/Order/Update/@Model.SelectedOrder.Id" method="POST">
    <div>
        <label>Order Number:</label>
        <input type="number" name="OrderNumber" value="@Model.SelectedOrder.OrderNumber" />
    </div>
    <div>
        <label>Quantity:</label>
        <input type="number" name="Quantity" value="@Model.SelectedOrder.Quantity" />
    </div>
    <div>
        <label>StoreId:</label>
        <select name="StoreId">
            @foreach (var store in Model.StoreOptions)
            {


                <option value="@store.StoreID" )>@store.Name</option>

            }
        </select>
    </div>
    <div>
        <label>ProductID:</label>
        <select name="ProductID">
            @foreach (var grocery in Model.GroceryOptions)
            {
                <option value="@grocery.ProductId">@grocery.Name</option>

            }
        </select>
    </div>
    <div>
        <input type="submit" value="Update Order" />

    </div>
</form>